.confirmation {
  margin: 0 auto;
  padding-top: 6rem;
  width: 45rem;
  height: 50rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 0px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.confirmation__heading {
  font-size: 3rem;
}

.confirmation__text {
  font-size: 1.6rem;
}

.confirmation__number {
  font-size: 1.4rem;
}
