<div class="products-container">
  <div class="product" *ngFor="let product of products">
    <div class="product__img" [style.backgroundImage]="'url(' + product.url + ')'"></div>
    <div class="product__options">
      <p class="product__name">{{product.name}}</p>
      <div class="product__count-wrapper">
        <button class="product__count"
          (click)="removeProduct(product.id)"><mat-icon>keyboard_arrow_down</mat-icon></button>
        <p>{{ productQuantity[product.id] }}</p>
        <button class="product__count" (click)="addProduct(product.id)"><mat-icon>keyboard_arrow_up</mat-icon></button>
      </div>
      <button class="product__add-to-cart" (click)="addToCart()">Add to cart</button><!-- submit btn -->
    </div>
  </div>
</div>
