<div class="products-container">
  <div class="product" *ngFor="let product of products">
    <a [routerLink]="['/products', product.id]">
      <div class="product__img" [style.backgroundImage]="'url(' + product.url + ')'">
      </div>
    </a>
    <div class="product__options">
      <p class="product__name">{{product.name}}</p>
      <div class="product__count-wrapper">
        <button class="product__count"
          (click)="removeItem(product.id)"><mat-icon>keyboard_arrow_down</mat-icon></button>
        <p>{{ productState[product.id - 1].count }}</p>
        <button class="product__count" (click)="addItem(product.id)"><mat-icon>keyboard_arrow_up</mat-icon></button>
      </div>
      <button class="product__add-to-cart" (click)="addToCart(product.id)">Add to cart</button><!-- submit btn -->
    </div>
  </div>
</div>
<div *ngIf="toastActive" class="toast">
  <p class="toast__content">Cart Updated</p>
</div>