main {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 28.8rem);
  grid-template-columns: repeat(3, 28rem);
  gap: 4rem;
  justify-content: center;
}

.card {
  background-position: center;
  background-size: cover;
}
