*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:not(.logo):hover {
  text-decoration: underline;
}

