header {
  margin-bottom: 10rem;
  padding: 5rem 4.9rem 5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  font-size: 2.4rem;
}

.nav-item {
  font-size: 1.8rem;
}

.nav-item span {
  background: #4f46e5;
  color: #fff;
  top: -2rem;
}
